{% extends "all/mainDashbord.html" %}
{%  include  'all/mainDashbord.html' %}
{% load static %}



{% block content %}



<div class="sales-boxes">
  <div class="recent-sales box">
    <div class="title">Orders</div>
    <div class="sales-details">
      <ul class="details">
        {% comment %} <li class="topic">Products</li>
        <p>Sort Table Rows by Clicking on the Table Headers - Ascending and Descending (jQuery)</p> {% endcomment %}
<div class="container">

<div class="table" style="margin-bottom: 734px">
<div class="table-header">
<div class="header__item"><a id="name" class="filter__link" href="#">Username</a></div>
<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">Product</a></div>
<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">status</a></div>
<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Date_created</a></div>
<div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Action</a></div>
</div>
<div class="table-content">	
{% for item  in Orders %}
<div class="table-row">		
  
  <div class="table-data">{{item.user}}</div>
  <div class="table-data">{{item.Product}}</div>
  <div class="table-data">{{item.status}}</div>
  <div class="table-data">{{item.date_created}}</div>
  <div class="table-data">               
      <a class="text-danger" href="{% url 'EditOrder' item.id %}">Edit Status</a></div>
  
</div>

{% endfor %}
</div>	

</div>
</div>
</ul>
    </div>
    {% comment %} <div class="button">
      <a href="#">See All</a>
    </div> {% endcomment %}
  </div>
  <div class="top-sales box">
    <div class="title">Top Seling Product</div>
    {% for item  in products %}
    <ul class="top-sales-details">
      <li>
         
      <a href="#">
        <!--<img src="images/sunglasses.jpg" alt="">-->
        
        <span class="product" style="width:150px">{{item.name}}</span>
      </a>
  
      <span class="price">{{item.price_per_unit}}DH</span>
     
    </li>
    </ul>
    {% endfor %}
  </div>
</div>
</div>



</section>

<style>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #212529;
$color-form-highlight: #212529;

*, *:before, *:after {
box-sizing:border-box;
}

body {
padding:$base-spacing-unit;
font-family:'Source Sans Pro', sans-serif;
margin:0;
}

h1,h2,h3,h4,h5,h6 {
margin:0;
}

.container {
max-width: 1000px;
margin-right:auto;
margin-left:auto;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.table {
width:100%;
border:1px solid $color-form-highlight;
}

.table-header {
display: flex;
width: 100%;
background: #ffd333;
padding: ($half-spacing-unit * 1.5) 0;
/* color: black; */
width: 600px;
}

.table-row {
display:flex;
width:100%;
padding:($half-spacing-unit * 1.5) 0;

&:nth-of-type(odd) {
background:$color-form-highlight;
}
}

.table-data, .header__item {
flex: 1 1 20%;
text-align:center;
}

.header__item {
text-transform:uppercase;
}

.filter__link:hover {
color:black;

}

a {
color:black;

}

a:hover{
color:#ffd333;

}

.filter__link {
color:white;
text-decoration: none;
position:relative;
display:inline-block;
padding-left:$base-spacing-unit;
padding-right:$base-spacing-unit;

&::after {
content:'';
position:absolute;
right:-($half-spacing-unit * 1.5);
color:white;
font-size:$half-spacing-unit;
top: 50%;
transform: translateY(-50%);
}

&.desc::after {
content: '(desc)';
}

&.asc::after {
content: '(asc)';
}

}
</style>


{% endblock  %}

